:root {
  --main-bg: #ffff;
  --he-bg: rgb(121, 39, 84); 
  --alltext: #30304b;
  --b-outl: #26262b;
  --subhe: purple;
  --sub-out: gold;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: flex-start; 
}

h1 {
    margin-bottom: 10px;
    text-align: start;
}

h2 {
    margin: 5px;
    text-align: start;
}

h3 {
    margin: 25px;
    font-size: 30px;
}

header {
    padding: 35px;
    background-color: var(--he-bg);
    color: var(--alltext);
}

nav {
    text-align: end;
}

.container {
    display: flex grid;
	flex-wrap: wrap;
	flex-direction: row;
	place-content: flex-start;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);


}

.about-me {
    width: 100%;
    height:fit-content;
	background-color: var(--subhe);
    grid-column: span 1;
    grid-row: span 2;
	
}


.side-bar {
    border-style: solid;
    border-color: var(--b-outl);
    display: grid;
    grid-row: span 10
}

.work-ex {
    margin: 10px;
    grid-column: span 2
    grid-row: span 2
}

.work-ex img {
    height: 400px;
    width: 600px;
}

.contact {
    grid-area: D;
}

