:root {
    --main-bg: #ebffff;
    --he-bg: rgb(179, 179, 206); 
    --alltext: #0b0a1f;
    --b-outl: #2e0b35;
    --subhe: purple;
    --sub-out: gold;
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    display: flex;
    background-color: var(--he-bg);
    color: var(--b-outl);
    padding: 35px;
}

h1 {
    align-items: start;
    font-size: 40px;
    font-style: bold;

}

nav {
    display:flex;
    background-color: var(--he-bg);
}

nav a {
    font-size: 17px;
    color: var(--sub-out);
    padding: 13px 20px;

}

main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100vh;
    
}

   
aside {
   flex: 1;
   background-color: var(--subhe);
   padding: 20px;
   height: 100vh;
   max-width: 30vh;
   

}

section {
    flex: 3;
    flex-basis: 100vh;
    background-color: var(--main-bg);
    flex-direction: column;

}

.about-me {
    display: flex;
    flex; 3,
    flex-basis: 100vh;
    border-style: dashed;
    border-color: var(--sub-out);
    

    
}

.work-ex {
    display: flex;
    flex-wrap: wrap;
    border-style:solid;
    flex-basis: 400px;
    gap: 10px;
    border-color: var (--sub-out);
}

.work-ex img {
    object-fit: cover;
    max-width: 90%;
    vertical-align: middle;
    gap:15px;

}

.contact {
    display: flex;
    border-style: dotted;
    border-color: var(--b-outl);
    flex-basis: 100vh;

}